<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="dbcs"
			 connectionString="LAPTOP-2GJ2F7U2; Database = BloodBankSql; Integrated Security = True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>